* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

header li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: background-color 0.3s ease;
}

header li:hover{
    background-color: #000000;
}

header ul a{
    text-decoration: none;
    color: #c6c6c6;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

header ul a:hover{
    color: #fff;
}

header .login{
    display: flex;
    align-items: center;
    gap: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
}

.container #left-bar{
    width: 20%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.container #left-bar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container #content{
    width: 60%;
}

.container #right-bar{
    width: 20%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.container #right-bar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container #right-bar ul li{
    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

