body {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    line-height: 1.6;
}

.page a {
    text-decoration: none;
}

.sub-page {
    margin: 16px 0;
    text-align: justify;
    text-indent: 20px;
}

